.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
}

.base-screen {
 position: absolute;
}

.hidden {
  display: none;
}

.txt-green {
  color: #4caf50;
  font-weight: 450 !important;
}